<html>
<head></head>
<body>
  <div>
       <h1><a href="/">Blog</a></h1>
       <form method="POST">
           {% csrf_token %}
           {{ form }}
           <input type="submit"/>
       </form>       

       {% for post in posts %}
           <div>
                 <p>published : {{ post.published_date }}</p>
                 <h1>{{ post.title }}</h1>
                 <p>{{ post.text|linebreaksbr }}</p>
           </div>
       {% endfor %}
  </div>
</body>
</html>
